<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <test thread-count="5" name="Test1">
        <classes>
            <class name="com.hau.bui.springbootsample.SampleSeleniumTest"/>
            <class name="com.hau.bui.springbootsample.SpringbootSampleApplicationTests"/>
        </classes>
    </test>
</suite>
